.side-left{
  position: absolute;
  height: 80%;
  width: 250px;
  left: 50px;
  top: 15%;
  bottom: 5%;
  background-color: #0D47A1;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.40);
  -ms-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.40);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.40);
}

.top-sl {
  height: 80px;
  width: 250px;
  background-color: #1976D2;
}
